:root {
    --standard-dark: rgb(55, 55, 60);
    --standard-darker: rgb(50, 50, 50);
    --standard-yellow: #EDAC1A;
    --toastify-color-light: rgb(55, 55, 60);
    --toastify-text-color-light: #EDAC1A;
    --toastify-font-family: Montserrat,sans-serif;
    --toastify-color-progress-light: linear-gradient(
        to right,
        #EDAC1A,
        #EDC31A,
        #EDCD1A,
        #EDDA1A,
        #EDE31A,
        #EDEA1A
      );
}